
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Main Project</title>

    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/style.css" />

  </head>
  <body>
    <div id="warningbanner" class="invisible">
       browser doesn't support WebAuthn
    </div>
    <main class="content">
      <h2>
       Sign in
      </h2>
      <form id="form">
        <div class="flex-h">
          <div>
            <label>username</label>
            <input
              type="text"
              name="username"
              autocomplete="username"
              autofocus
            />
          </div>
          <div>
            <label>password</label>
            <input
              type="password"
              name="password"
              autocomplete="current-password"
            />
          </div>
        </div>
        <input type="submit" class="button right" value="Next" />
      </form>
      <script type="module">
        import { _fetch, authStatuses } from "/auth.client.js";

        // Display a banner in browsers that don't support WebAuthn
        if (!window.PublicKeyCredential) {
          document
            .querySelector("#warningbanner")
            .classList.remove("invisible");
        }

        // Listen to form submission
        const form = document.querySelector("#form");
        form.addEventListener("submit", async e => {
          e.preventDefault();

          // Retrieve the form data
          const userInput = {};
          const formData = new FormData(e.target);
          formData.forEach((v, k) => (userInput[k] = v));

          try {
            // Initialize the authentication
            const response = await _fetch(
              "/auth/initialize-authentication",
              "POST",
              userInput
            );

            const riskResponse = await _fetch(
              "/auth/initialize-authentication",
              "POST",
              userInput
            );
            const { authStatus } = response;
            const {risk}= riskResponse
            // authStatuses.COMPLETE means the user is already authenticated
            if (authStatus === authStatuses.COMPLETE) {
              // Navigate to the Account page
              location.href = "/account";
              // authStatuses.NEED_SECOND_FACTOR means the user has set up two-factor-auth and has not entered a second actor yet
            } else if (authStatus === authStatuses.NEED_SECOND_FACTOR) {
              // Navigate to the 2FA page to get the second facto
              location.href = "/second-factor";
            }
          } catch (e) {
            // If something went wrong, empty the form, for convenience
            form.reset();
            // Alert the user that something went wrong
            if (Array.isArray(e)) {
              alert(
                // `msg` not `message`, since this is the key's name as per the express validator API
                `Authentication failed. ${e.map(
                  err => `${err.msg} (${err.param})`
                )}`
              );
            } else {
              alert(`Authentication failed. ${e}`);
            }
          }
        });
      </script>
    </main>
  </body>
</html>
